@media (max-width: 1117px){
  .about-wrapper{
    margin-bottom: 200px;
  }
}

@media (max-width: 900px){

  /* ヘッダー
------------------------------- */
header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container{
  margin-left: 2%;
}

  .header-left{
    flex-flow: column;
  }

  header img{
    width: 80px;
    padding-bottom: 10px;
  }

  header ul{
    display: flex;
    margin-left: 0;
  }

  .contact-btn{
    display: none;
  }

  
  /* メインのbg部分
------------------------------- */
.bg-wrapper{
  text-align: center;
  margin: 0 0 95px 0;
}

/* web
------------------------------- */
.news-wrapper {
  margin-bottom: 80px;
}

.news-wrapper .container{
  width: 95%;
}

.news-wrapper .title{
  margin-bottom: 40px;
}

.date-area{
  display: flex;
}

.news-wrapper .list {
  flex-flow: column;
}

.news-wrapper .list li {
  border-right: none;
  padding: 20px 0px;
}


/* about
------------------------------- */
.about-wrapper{
  flex-flow: column;
  height: 510px;
  margin-bottom: 180px;
}

.about-img{
  width: 100%;
}

.about-wrapper .container{
  width: 95%;
  margin-top: 20px;
}

.about-wrapper .text{
  line-height: 2.5;
}

.about-wrapper .title {
  margin-bottom: 30px;
}

.about-wrapper .title p{
  margin-bottom: 20px;
}

.about-wrapper p{
  font-size: 14px;
}


/* business
------------------------------- */
.BUSINESS-wrapper .container{
  width: 95%;
  margin-top: 20px;
}

.BUSINESS{
  width: 100%;
  flex-flow: column;
}

.left ,.right{
  width: 100%;
}

.left{
  padding-top: 0;
}

.work{
  padding-top: 35px;
}


/* company
------------------------------- */
.company-wrapper{
  position: relative;
  margin-bottom: 1250px;
}

.company-wrapper .container{
  margin: 0 auto;
  width: 95%;
}

.info-box{
  width: 95%;
  background-color: #fff;
  position: none;
}

.info-container{
  width: 90%;
  margin: 0 auto;
}

.company-info{
  flex-flow: column;
  padding-bottom: 45px;
  justify-content: left;
}

.info-box .title{
  padding: 45px 0 40px 0;
}

dl{
  width: 100%;
}

dt{
  width: 95%;
}

.add{
  margin-left: 0;
}

.company-photo{
  position: absolute;
  top: 660px;
  left: 20;
  width: 95%;
  height: 400px;
}

.company-photo img{
  width: 100%;
}

/* web */
.web-wrapper{
  background-color: #fff;
}

.web-wrapper .container{
  width: 95%;
  align-items: flex-start;
  flex-flow: column;
}

.wed-left img{
  width: 100px;
  height: 26px;
}

/* footer */
footer{
  background-color: #fff;
  padding-bottom: 23px;
}

footer .container{
  width: 95%;
}

footer p{
  font-size: 10px;
}
}